html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--background);
    color: var(--text-primary);
    overflow-x: hidden;
}