@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa/Comfortaa-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenRunde';
    src: url('../assets/fonts/OpenRunde/OpenRunde-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenRunde';
    src: url('../assets/fonts/OpenRunde/OpenRunde-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenRunde';
    src: url('../assets/fonts/OpenRunde/OpenRunde-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenRunde';
    src: url('../assets/fonts/OpenRunde/OpenRunde-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}